absl-py==0.12.0
astor==0.8.1
awscli==1.19.16
botocore==1.20.16
boundaries==0.0.0
cached-property==1.5.2
certifi==2021.5.30
chardet==3.0.4
cpools==0.0.0
cudnn-convolution==0.0.0
cycler==0.10.0
dynamic-mem==0.0.0
gast==0.2.2
google-pasta==0.2.0
grpcio==1.38.0
h5py==3.2.1
idna==2.8
importlib-metadata==4.5.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.4
matplotlib==3.4.2
numpy==1.20.3
opt-einsum==3.3.0
Pillow==8.2.0
protobuf==3.17.3
pyparsing==2.4.7
python-dateutil==2.8.1
pytorchcv==0.0.47
requests==2.22.0
s3transfer==0.3.4
scipy==1.6.3
six==1.16.0
tensorboard==1.15.0
tensorflow-estimator==1.15.1
tensorflow-gpu==1.15.0
termcolor==1.1.0
torch==1.8.1+cu111
torchaudio==0.8.1
torchvision==0.9.1+cu111
typing-extensions==3.10.0.0
Werkzeug==2.0.1
wrapt==1.12.1
zipp==3.4.1
